@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --main-c: #ff591c;
    --border-r:.2rem;
    --bg-color: #000000;
    --second-bg-color: #2b2b2b;
    --text-color: #fff;
    --main-color: #f8650a;
}

/* Estilos Generales*/

html *{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

p{
    font-size: 1.1rem;
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

.wrap-cta{
    padding: 1.5rem 0;
}

.cta-a{
    color: #fff;
    font-weight: 1.2rem;
    background-color: var(--main-c);
    padding: .5rem 1rem;
    border-radius: var(--border-r);
}

h1{
    font-size: 2.8rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2.3rem;
}

/** Nav Bar**/

.navbar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
.navbar a{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover, a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

label #btn-m, label #cancel{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

/** Header **/

.header-landing{
    display: flex;
    justify-content: center;
    background: #051b61;
    padding: .25rem;
}

.logo{

    font-size: 2.8rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}

.logo-header{
    max-width: 100px;
    max-height: 50px;
    margin-top: 8px;
    height: 100%;
    width: 80%;
}

/** hero section **/

.hero-section{
    height: 90vh;
    background: url(pexels-cadeau-maestro-1170412.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(59, 68, 73, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.wrap-hero-section{
    max-width: 600px;
    color: #fff;
    padding: 15%;
}

/** Logo Brand Section **/


.section{
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section h2{
    padding:  2rem 0;
}

.servicios-section{
    background: #fff;
}
.wrap-logos-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.logo-brand{
    width: 50px;
    padding: 1rem 2rem;
    filter: grayscale(1);
}

/** Wrap Title**/

.wrap-title-section{
    display: flex;
    justify-content: center;
    margin: 3rem 1rem;
}

/** Servicios Section**/

.wrap-servicios-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.item-servicios-section{
    padding: 1rem;
}

.item-servicios-section img{
    width: 300px;
    height: 225px;
}

/** Two Colums Section **/

.wrap-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
}

.wrap-img_two-column{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.wrap-text-column h3{
    padding: 2rem 0;
}

.wrap-text-column p{
    padding-bottom: 1rem;
}

/** Form section **/

section.two-column-section.form{
    background-color: #030f36;
    padding: 3rem 0;
}

.wrap-title-section2{
    color: #fff;
}

.form label{
    color: #fff;
}

.form input, .form textarea{
    display: flex;
    width: 100%;
    line-height: 1.75rem;
    border: 1.5px solid;
    border-radius: var(--border-r);
}

.form textarea{
    min-height: 200px;
}

input[type="submit"]{
    border: 0;
    display: inline;
    cursor: pointer;
}

/** Footer **/

.footer-section{
    max-width: 1200px;
    margin: 0 auto;
}

.menu-futer-section{
    padding: 1rem 0;
}
.wrap-social-logos{
    padding: 0 450px;
    width: 500px;
}
.wrap-social-logos a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}
.wrap-social-logos a:hover{
    color: black;
    transform: scale(1.3)translateY(-5px);
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.wrap-menu-footer-section{
    display: flex;
    justify-content: center;
}

.social-logo{
    max-width: 40px;
    width: 100%;
    padding: 1rem;
}

.wrap-menu-footer-section ul li{
    font-size: 1.1rem;
    padding: 1.5rem;
}

.footer-creds{
    display: flex;
    justify-content: center;
}

.wrap-menu-footer-section ul{
    margin-top: 0;
    padding: 0;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 0;
    text-align: center;
}

.wrap-menu-footer-section ul li a{
    color: black;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.wrap-menu-footer-section ul li a:hover{
    border-bottom: 3px solid black;
}
.wrap-menu-footer-section ul li{
    display: inline-block;
    padding: 0 15px;
}


/** Response **/

@media (max-width:886px) {
    label{
        display: block;
    }
    .navbar ul li a{
        font-size: 17px;
    }
}

@media (max-width:995px){

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar a:hover, .navbar a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}